<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Chatapp, <%= @user_email %></h2>
    <p>
      You have been invited for the <%= @chat_room_name %> chatroom.
      <br>
      your friends are awaiting for you to join the chatroom.
    </p>
    <p>
      To login to the Chatapp site, just follow this link: <%= @url %>
      <br>
      <br>
      Thanks
      <br>
      Chatapp team.
    </p>
  </body>
</html>