<div>
<form action="" >
email <input type="text" name="userEmail" id="userEmail"><br>
password<input type="password" name="userPassword" id="userPassword"><br>
type chatroom name<input type="text" name="chatroomName" id="chatroomName">
<input type="submit" value="Submit">
</form> 


</div>